<p id="notice"><%= notice %></p>

<p>
  <strong>Tutor:</strong>
  <%= @estudiante.tutor_id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @estudiante.nombre %>
</p>

<%= link_to 'Edit', edit_estudiante_path(@estudiante) %> |
<%= link_to 'Back', estudiantes_path %>
