<div class="main_content">
  <div class="row">
      <div class="col-md-4">
      
      </div>

      <div class="col-md-4">

        <div class="card">
          <div class="card-header">
            Documento de Identidad
          </div>
          <div class="card-body">
            <%= form_with(model: documento_identidad, local: true) do |form| %>
              <% if documento_identidad.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(documento_identidad.errors.count, "error") %> prohibited this documento_identidad from being saved:</h2>

                  <ul>
                  <% documento_identidad.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <!--
                    <%= form.label :nombre %>
                    <%= form.text_field :nombre %>
                  -->
                  <label>Nombre</label>
                  <input type="text" class="form-control form-control-sm" id="" <%= form.text_field :nombre %>
                </div>

                <div class="form-group col-md-12">
                  <!--
                    <%= form.label :descripcion %>
                    <%= form.text_field :descripcion %>
                  -->
                  <label>Descripción</label>
                  <input type="text" class="form-control form-control-sm" id="" <%= form.text_field :descripcion %>
                </div>
              </div>
              <div class=" col-md-12 text-center">
                  <div class="actions">
                    <%= form.submit %>
                  </div>
              </div>
          </div>
          <div class="card-footer">
          </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-4">
        
      </div>
  </div>
</div>


<!--
<%= form_with(model: documento_identidad, local: true) do |form| %>
  <% if documento_identidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(documento_identidad.errors.count, "error") %> prohibited this documento_identidad from being saved:</h2>

      <ul>
      <% documento_identidad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
-->
