<div class="row">
  <div class="col-md-12">
    <%= form_with(model: usuario, local: true) do |form| %>
      <% if usuario.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

          <ul>
            <% usuario.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group row">
        <%= form.label :username %>
        <%= form.text_field :username %>
      </div>

      <div class="form-group row">
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>

      <div class="form-group row">
        <%= form.label :crypted_password %>
        <%= form.text_field :crypted_password %>
      </div>

      <div class="form-group row">
        <%= form.label :salt %>
        <%= form.text_field :salt %>
      </div>

      <div class="form-group row">
        <%= form.submit %>
      </div>
    <% end %>

  </div>
</div>