<%= form_with(model: empleadito, local: true) do |form| %>
  <% if empleadito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(empleadito.errors.count, "error") %> prohibited this empleadito from being saved:</h2>

      <ul>
      <% empleadito.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :documento_id %>
    <%= form.number_field :documento_id %>
  </div>

  <div class="field">
    <%= form.label :numero_documento %>
    <%= form.text_field :numero_documento %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :apellido_paterno %>
    <%= form.text_field :apellido_paterno %>
  </div>

  <div class="field">
    <%= form.label :apellido_materno %>
    <%= form.text_field :apellido_materno %>
  </div>

  <div class="field">
    <%= form.label :id_privilegio %>
    <%= form.number_field :id_privilegio %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
