<p id="notice"><%= notice %></p>

<h1>Empleaditos</h1>

<table>
  <thead>
    <tr>
      <th>Documento</th>
      <th>Numero documento</th>
      <th>Nombre</th>
      <th>Apellido paterno</th>
      <th>Apellido materno</th>
      <th>Id privilegio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empleaditos.each do |empleadito| %>
      <tr>
        <td><%= empleadito.documento.nombre %></td>
        <td><%= empleadito.numero_documento %></td>
        <td><%= empleadito.nombre %></td>
        <td><%= empleadito.apellido_paterno %></td>
        <td><%= empleadito.apellido_materno %></td>
        <td><%= empleadito.id_privilegio %></td>
        <td><%= link_to 'Show', empleadito %></td>
        <td><%= link_to 'Edit', edit_empleadito_path(empleadito) %></td>
        <td><%= link_to 'Destroy', empleadito, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Empleadito', new_empleadito_path %>
