<p id="notice"><%= notice %></p>

<h1>Ejemplos</h1>

<table>
  <thead>
    <tr>
      <th>Id tipo documento</th>
      <th>Numero documento</th>
      <th>Nombre</th>
      <th>Apellido paterno</th>
      <th>Apellido materno</th>
      <th>Id privilegio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ejemplos.each do |ejemplo| %>
      <tr>
        <td><%= ejemplo.id_tipo_documento %></td>
        <td><%= ejemplo.numero_documento %></td>
        <td><%= ejemplo.nombre %></td>
        <td><%= ejemplo.apellido_paterno %></td>
        <td><%= ejemplo.apellido_materno %></td>
        <td><%= ejemplo.id_privilegio %></td>
        <td><%= link_to 'Show', ejemplo %></td>
        <td><%= link_to 'Edit', edit_ejemplo_path(ejemplo) %></td>
        <td><%= link_to 'Destroy', ejemplo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ejemplo', new_ejemplo_path %>
